.button {
  background-color: #ffffff;
  color: #00b332;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #d0d7de;
  cursor: pointer;

  font-size: 1.1rem;
  font-weight: 500;
  min-width: 10vw;
  transition: border-color 0.3s;
}

.button:hover {
  border-color: #00b332;
  background-color: #ffffff;
}
